<p style="color: green"><%= notice %> </p>

<div class="bookContainer">

  <div id="books" class="flex flex-col gap-3">
    <% @books.each do |book| %>
      <div class="flex gap-3">
        <div>
          <%= image_tag book.file.representation(resize_to_limit: [100, 100]).processed.url %>
        </div>


        <div class="flex flex-col items-start">
          <h1 class="font-semibold"><%= link_to book.name, book %></h1>
          <p><%= book.description %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <%# Todo: Add topics section %>
  </div>

</div>


