.bookContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: blue;
}

.bookFile {
  display: flex;
}

.bookLinks {
  display: flex;
}
.bookLinks a {
  background-color: blue;
  color: white;
  outline: none;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
}
