.bookContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#books {
  display: flex !important;
  flex-direction: row !important;
  padding: 4em;
  flex-wrap: wrap;
  width: 100%;
  gap: 5em;
}

.book_file_pdf {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.book_file > * {
  display: flex;
  flex-direction: column;
  width: 250px;
  object-fit: cover;
  height: 250px;
  overflow: hidden !important;
}
