<%= stylesheet_link_tag "navbar" %>
<div class="container">
    <div class="child child-1">
        <h1>PDF DOWLOAD</h1>
        <input type="search" class="input" placeholder="Search for books..."/>
    </div>

    <div class="child child-2">
        <button>Sign In</button>
    </div>
</div>